*{box-sizing: border-box}

body{
    
    margin: 0;
    
}


#topPanel{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #1e74ff;
    margin: 0 1em;
    
}

#topPanel h4{
    
    margin: 0 2em;
    color: #fff;
    font-family: "raleway";
    font-weight: 500;
    
}

#topPanel button{
    
    background-color: #fff;
    padding: .4em 1em;
    border-radius: 10em;
    font-size: 1em;
    border: none;
    outline: none;
    
}

#topPanel button:active{
    
    box-shadow: inset 0 0 1em #aaa;
    
}

#topDiv{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1em .3em 1em;
    width: 100%;
    height: 34em
    
    
}

#userVideo{
    
    width: 60%;
    height: 100%;
    background-color: #eee;
    
}

#rightVids{
    
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: .3em;
    
}

#rightVids video{
    
    height: calc(50% - .15em);
    background-color: #eee;
    width: 100%;
    
}

#rightVids video:nth-child(1){
    
    margin-bottom:  .3em;
    
}

#bottomVids{
    
    width: 100%;
    display: flex;
    padding: 0 .7em 0 1em;
    flex-wrap: wrap;
    
}

#bottomVids video{
    
    width: calc(33.33% - .3em);
    height: 14em;
    margin-right: .3em;
    margin-bottom: .3em
    
}


video{
    
    background-color: #000 !important;
    
}

#copyR{

    padding: 1em;
    font-family: "raleway";

}

#copyR span{
    
    font-size: .8em;
    
}
